# HFSQL Connection string for HFSQL database (ODBC)
DSN_HFSQL = "PRO"

# PostgreSQL
PG_HOST     = "192.168.40.60"
PG_DB       = "procreances"
PG_USER     = "warehouse"
PG_PASSWORD = "warehouse"
PG_PORT     = "5432"

# Debug
DEBUG = "0"
LOG_FILE = ".\import_errors_test.sql"